// HEADER
header {
    background-color: $black;
    position: sticky;
    top: 0;
    z-index: 1;   

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: inherit;
        padding: 0 20px;

        @media screen and (min-width: $desktop-large) {
            padding: 0 32px;
        }
    }

    // Mobile header
    .header-logo {
        padding: 22px 0;

        @media screen and (min-width: $tablet) {
            padding: 30px 0;
        }

        img {
           width: 138px;

           @media screen and (min-width: $tablet) {
            width: 320px;
           }
        }
    }

    .language-selectors {
        display: flex;
        flex-direction: row;
        gap: 11px;

        .language-selector {
            font-size: 16px;
            font-weight: 500;
            line-height: 19.5px;
            color: $white;
            background-color: inherit;
            
            text-transform: uppercase;

            @media screen and (min-width: $tablet) {
                font-size: 20px;
                line-height: 24px;
            }

            &.active {
                background-color: $yellow;
                color: $black;
                padding: 1px 5px;
            }
        }
    }

}


footer {
    border-top: 1px solid $yellow;
    background-color: $black;
    padding-top: 60px;

    @media screen and (min-width: $desktop) {
        padding-top: 110px;
    }

    .two-columns-wrapper {
        @media screen and (min-width: $desktop) {
            justify-content: space-between;
        }
    }

    .footer-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 100px;
    
        @media screen and (min-width: $desktop) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    .footer-logo {
        width: max-content;
     }

    .footer-contact-info {
        text-align: center;

        @media screen and (min-width: $desktop) {
            text-align: right;
        }

        a {
            display: block;
            font-size: 20px;
            color: $white;
            line-height: 24px;
            font-weight: 600;

            &:not(:last-of-type) {  
                margin-bottom: 16px;
            }

            @media screen and (min-width: $desktop) {
                font-size: 32px;
                line-height: 49px;
            }
        }
    }

    .social-links-wrapper {
        margin-top: 80px;

        @media screen and (min-width: $desktop) {
            margin-top: 146px;
        }

        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 16px;

           img {
                width: 32px;

                @media screen and (min-width: $desktop) {
                    width: 42px;
                }
           }
        }
    }


    .footer-copyright {
        padding: 30px 0;
        text-align: center;

        @media screen and (min-width: $desktop) {
            padding: 48px 0;
        }

        p {
            color: $white;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
    }

   
}