// text elements styles
h1,
.title-xl {
    font-family: $font;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;;
    font-weight: 600;
    color: $text;

    @media screen and (min-width: $tablet) {
        font-size: 60px;
        line-height: 72px;
    }
}

h2, .title {
    font-family: $font;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: $text;

    @media screen and (min-width: $tablet) {
        font-size: 36px;
        line-height: 44px;
    }
}

h3 {
    margin-bottom: 24px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 64px;
    }
}


.text {
    font-family: $font;
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 500;
    color: $text;

    @media screen and (min-width: $tablet) {
        font-size: 24px;
        line-height: 30px;
    }
}



// font styles

.italic {
    font-style: italic;
}

main {
    background-color: $black;
}


// General flex wrapper
.two-columns-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media screen and (min-width: $desktop) { 
        flex-direction: row;
        gap: 140px;

        & > div {
            flex-basis: 50%;
        }
    }
}

.three-columns {
    display: grid;
    gap: 64px;
    grid-template-columns: 1fr;

    @media screen and (min-width: $desktop) { 
        grid-template-columns: repeat(3, 1fr);
        gap: unset;
        row-gap: 32px;
        column-gap: 64px;
    }
}

video {
    border-radius: 16px;
    width: 100%;
    height: auto;

    @media screen and (min-width: $desktop) { 
        border-radius: 44px;
        border: 2px solid #000;
    }
}


.four-columns {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr;

    @media screen and (min-width: $tablet) { 
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $desktop) { 
        grid-template-columns: repeat(4, 1fr);
    }
}


// Default sections paddings 
.section {
    .container {
        padding-top: 35px;
        padding-bottom: 35px;

        @media screen and (min-width: $desktop) {
            padding-top: 96px;
            padding-bottom: 96px;
        }
    }
}

.img-wrapper {
    img {
        display: block;
    }
}



.no-scroll {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
}